/*Base*/
body {
  background-color: #1D1D1B;
  color: #BCBCBB;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  margin: 0;
}

/*Layout*/
.container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  text-align: center;
}

/*Home*/
.section.brewery-name a,
.section.brewery-name a:visited {
  margin: 0;
  color: #BCBCBB;
  text-decoration: none;
}

.section.brewery-name h1 {
  font-weight: 300;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin: 0;
  font-size: 2em;
  line-height: 1.1em;
}

.section.brewery-name p {
  margin: 0;
  font-weight: 300;
  letter-spacing: 0.2em;

  overflow: hidden;
  text-align: center;
}

.section.brewery-name span {
  display: inline-block;
  padding: 0 0.8em;
  position: relative;
}

.section.brewery-name span:before,
.section.brewery-name span:after {
  background: #BCBCBB;
  content: "";
  display: block;
  height: 0.08em;
  position: absolute;
  top: 50%;
  width: 400%;
}

.section.brewery-name span:before { right: 100%; }
.section.brewery-name span:after  { left: 100%;  }

.section.tags {
  width: 100%;
}

.tags-list {
  display: flex;
  justify-content: center;

  padding: 0;
  margin: 0;

  list-style-type: none;
  text-align: center;
}

.tags-list li  {
  letter-spacing: 2px;
}

.tags-list .dot {
  padding: 0 1em;
}

@media screen and (min-width: 700px) {
  /*Layout*/
  .only-small {
    display: none;
  }

  .container {
    justify-content: space-around;
  }

  /*Home*/
  .section.logo {
    margin-top: 1em;
  }

  .section.brewery-name {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .section.tags {
    margin-bottom: 1em;
  }

  .monkey-img {
    max-width: 55%;
  }
}

@media screen and (max-width: 700px) {
  /*Layout*/
  .only-desktop {
    display: none;
  }

  /*Home*/
  .section {
    margin-bottom: 1em;
  }

  .section a {
    width: 100%;
  }

  .section.logo {
    margin-top: 2em;
  }

  .section.brewery-name {
    padding: 0 1.5em;
    margin-bottom: 2em;
  }

  .section.brewery-name h1 {
    font-size: 1.5em;
  }

  .section.brewery-name p {
    font-size: 0.8em;
  }

  .monkey-img {
    max-width: 65%;
  }

  .tags-list {
    flex-direction: column;
    padding-bottom: 2em;
  }
}
