@font-face {
  font-family: 'Gidole Regular';
  src: url('../fonts/Gidole.woff') format('woff'), url('../fonts/Gidole.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*Base*/
body {
  background-color: #00132C;
  color: #EFEEE3;

  font-family: 'Gidole Regular', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.5em;
  margin: 0;
}

a, a:visited {
  color: #EFEEE3;
}

/*Components*/
.button {
  background-color: #D06F5A;
  text-decoration: none;
  display: inline-block;
  color: #EFEEE3;
  border: 1px solid #EFEEE3;
}

.button:hover {
  background-color: #C14E3A;
}

.link-cta, .link-cta:visited {
  color: #D06F5A;
  text-decoration: none;
}

.link-cta:hover {
  color: #C14E3A;
  text-decoration: underline;
}

/*Layout*/
.container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Pages*/

/*Page -- Home*/
.page-home .section {
  text-align: center;
}

.section.brewery-name a,
.section.brewery-name a:visited {
  margin: 0;
  color: #EFEEE3;
  text-decoration: none;
}

.section.brewery-name h1 {
  font-weight: 300;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1.1em;
  margin: 0;
}

.section.brewery-name p {
  margin: 0;
  font-weight: 300;
  letter-spacing: 0.2em;

  overflow: hidden;
  text-align: center;
}

.section.brewery-name span {
  display: inline-block;
  padding: 0 0.8em;
  position: relative;
}

.section.brewery-name span:before,
.section.brewery-name span:after {
  background: #EFEEE3;
  content: "";
  display: block;
  height: 0.08em;
  position: absolute;
  top: 50%;
  width: 400%;
}

.section.brewery-name span:before { right: 100%; }
.section.brewery-name span:after  { left: 100%;  }

.section.tags {
  width: 100%;
}

.tags-list {
  display: flex;
  justify-content: center;

  padding: 0;
  margin: 0;

  list-style-type: none;
  text-align: center;
}

.tags-list li  {
  letter-spacing: 2px;
}

.tags-list .dot {
  padding: 0 1em;
}

/*Page -- 404*/
.page-not-found .section.logo {
  text-align: center;
}

.section.not-found {
  padding: 0 1em;
}

.section.not-found h1 {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.section.not-found p {
  margin-top: 0;
}

.section.not-found a,
.section.not-found a:visited {
  text-transform: uppercase;
  text-align: center;
  padding: 0.5em;
}

@media screen and (min-width: 700px) {
  /*Layout*/
  .only-small {
    display: none;
  }

  .container {
    justify-content: space-around;
  }

  /*Page -- Home*/
  .section.logo {
    margin-top: 1em;
  }

  .section.brewery-name {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 1em;
  }

  .section.tags {
    padding-bottom: 0.9em
  }

  .monkey-img {
    max-width: 45%;
  }

  /*Page -- 404*/
  .page-not-found .container {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  /*Layout*/
  .only-desktop {
    display: none;
  }

  /*Page -- Home*/
  .section {
    margin-bottom: 1em;
  }

  .section.logo {
    margin-top: 2em;
  }

  .section.brewery-name {
    padding: 0 1.5em;
    margin-bottom: 2em;
  }

  .section.brewery-name h1 {
    font-size: 1.5em;
  }

  .section.brewery-name p {
    font-size: 0.8em;
  }

  .monkey-img {
    max-width: 65%;
  }

  .tags-list {
    flex-direction: column;
    padding-bottom: 2em;
  }

  /*Page -- 404*/
  .page-not-found .section {
    text-align: center;
  }

  .page-not-found .section.not-found {
    padding-bottom: 2em;
  }
}
