body {
  color: #BCBCBB;
  background-color: #1D1D1B;
  margin: 0;
}

@media screen and (min-width: 700px) {
  .only-small {
    display: none;
  }

  .banner {
    position: absolute;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
  }

  .banner img {
    height: 100%;
  }
}

@media screen and (max-width: 700px) {
  .only-desktop {
    display: none;
  }

  .banner {
    width: 100%;
    min-height:100%;
    margin: 2em 0;
    text-align: center;
  }

  .banner img {
    max-width: 80%;
  }
}
